/* more visible current day in sidebar calendar widget */
.logseq-block-calendar .calendar-day-today {
	border: 1px solid red;
}

.logseq-block-calendar {
    max-width: 400px;
    min-width: 315px;
}

div[data-refs-self*="-fit"]>.block-children-container.flex>.block-children.w-full>div.ls-block, div[data-refs-self*="-fit"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
    min-width: 200px !important;
    width: max-content !important;
    object-fit: contain;
}

div[data-refs-self*="gallery"]>.block-children-container.flex>.block-children.w-full>div.ls-block {
  overflow: visible !important;
}

/* remove transparent background for images in kanban gallery */
.pswp__img {
  background: white;
}

/* increase main font-size */
.main-content-container {
    font-size: 1.2em;
}

/* Mark Highlights */
mark {
  color: #000;
  padding: 2px 4px !important;
  margin: 0 2px !important;
  border-radius: 3px !important;
  font-weight: 600 !important;
  background-color: #F6E05E !important;
}

mark.blue {
  background-color: #63B3ED !important;
}

/* Progress bar */
progress[value]::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(-45deg,
          transparent 33%, rgba(0, 0, 0, .1) 33%,
          rgba(0,0, 0, .1) 66%, transparent 66%),
          -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* more visible selected item in the search */
.cursor.menu-link.chosen {
  /* background: rgba(194, 210, 196, 1) !important; */
}

#search-in-page {
  padding-top: 2.5em;
}

/* Fix the bug with invisible whiteboard name */
.whiteboard-page-title-root {
	top: 60px;
}

/* Correct the height of vscode plugin menu */
.container-inner ._opener {
  /* padding-top: 30px !important; */
}

/* wide title for whiteboards */
.whiteboard-page-title-root {
  width: 400px;
}

/* Put nav buttons on one row, no text */
.nav-header {
    margin-left: 2px;
}

.nav-header .flex-1 {
    display: none
}

.nav-header .item {
    margin-left: 4px;
    padding: 4px !important;
}

.nav-header .ui__icon {
    margin-right: 0px !important;

}

.nav-header {
    flex-direction: row;
}

.flashcards-nav .inline-block {
    margin-left: 2px;
    padding: 0px;
    font-size: 12px;
    vertical-align: middle;
}


#left-sidebar .item>.ti {
    font-size: 18px;
    vertical-align: middle;
}

.tie-whiteboard:before {
    content: "\ea1d";
    font-size: 20px;
    color: #78C0A8;
}

#left-sidebar .ls-icon-infinity:before {
    content: "\ea38";
    color: #c8aa00;
}

#left-sidebar .ls-icon-hierarchy:before {
    content: "\edff";
    color: brown;
}

#awUI-calendar-menu .ls-icon-calendar-time:before {
    content: "\ee21";
    color: #db18ed;
}
/* Put nav buttons on one row, no text END */

/* Fix issue with wide query on small width screens */
.custom-query-title  {
  gap: 96px;
}

/* a.tag { float: right; margin-left: 10px;} */

.dropdown-wrapper {
  z-index: 1000 !important;
  background-color: rebeccapurple;
}


/* Book status styling */
a.page-ref[data-ref="📤 to read"] {
    font-size: 1em;
    background-color: #2d84d2;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
}

a.page-ref[data-ref="✅ read"] {
  font-size: 1em;
  background-color: hsl(155,40%,31%);
  border-radius: 30px;
  padding: 5px 10px;
  color: white;
}

a.page-ref[data-ref="📖 reading"] {
  font-size: 1em;
  background-color: hsl(155,40%,31%);
  border-radius: 30px;
  padding: 5px 10px;
  color: white;
}
/* Book status styling /END */


/* logseq table resizer v20220331 ======================= */
/* add rules to custom.css =============================== */
.table th {
  position: relative;
}
.query-table-resizer {
  position: relative;
  top: -20px;
  float: right;
  margin-bottom: -18px;
  cursor: col-resize;
  user-select: none;
  border-right: 1px solid var(--ls-border-color);
  width: 10px; /* hitbox width */
  height: 20px; 
}

.query-table-resizer:active,
.query-table-resizing {
  border-right: 2px solid rgb(255, 0, 0);
}

.custom-query table.table-auto {
  width: -webkit-fill-available;
  table-layout: fixed;
}
.custom-query .table-auto>thead>tr>th {
  border-bottom: 1px solid var(--ls-border-color);
}
.custom-query .table-auto>thead>tr>th {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px 6px;
}
.custom-query .table-auto>tbody>tr>td.whitespace-nowrap {
  overflow-wrap: break-word;
  min-width: 20px;
  white-space: normal;
  font-weight: 300;
  font-size: 13px;
}
.custom-query .table-auto>tbody>tr>.whitespace-nowrap img {
  max-height: 120px;
  margin: 0;
}
/* ==================================== end of table resizer */

.cp__right-sidebar .sidebar-item {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}


/* ==========  BETTER-SIDEBAR - right sidebarshrinking panes w/ horizontal scroll v20221217==================*/

/* :root {
  --sidebarItemMinWidth: 250px;
  --sidebarItemMaxWidth: 650px;
}

.cp__right-sidebar-inner.flex.flex-col.h-full {
  overflow: visible;
}

.sidebar-item-list {
  width: fit-content;
  height: 96vh !important;
  overflow: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 6px 0 6px;
  margin: 0 6px 0 6 px;
}

.cp__right-sidebar .sidebar-item {
  display: inline-block;
  align-self: flex-start;
  overflow-y: auto;
  min-height: 75px;
  height: calc(100% - 10px) !important;
  min-width: var(--sidebarItemMinWidth);
  max-width: var(--sidebarItemMaxWidth);
  width: 100%;
  margin: 0px;
  background-color: var(--ls-primary-background-color);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-radius: 10px;
  resize: both;
  padding: 1.5rem 0.5rem;
}

.cp__right-sidebar-inner .resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  user-select: none;
  cursor: col-resize !important;
  z-index: 10;
}

.cp__right-sidebar .resizer:hover {
  background-color: var(--ph-highlight-strong);
}

.cp__right-sidebar-scrollable {
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
} */

/* sliding panes */
/* .sidebar-item.folded {
  display: inline-block;
  overflow: hidden;
  margin: 0px 0 !important;
  padding: 5px;
  resize: none;
  width: 40px !important;
  min-width: 40px;
  writing-mode: vertical-LR;
}

.sidebar-item.folded .rotating-arrow.collapsed svg {
  transform: rotate(180deg) translate(3px, -1.2rem);
  transition: none;
}

.sidebar-item.folded .ml-1.font-medium {
  margin-top: 2rem;
  transition: none;
}

.cp__right-sidebar .sidebar-item.folded .close {
  transform: scale(.8) translate(-8px);
  transition: transform .1s;
} */

/* ======================================== end of BETTER-SIDEBAR ===== */

/* ==== hide special props ==========================*/
div[data-refs-self="bg-pic"] {
  display: none !important;
}

/* fix short width for default quiries blocks */
#today-queries > .lazy-visibility {
  width: 100% !important;
}

ul.settings-plugin-list {
  list-style: none;
  margin-left: 0;
}