button.kit {
    background: var(--ls-tertiary-background-color);
    padding: 2px 4px 2px 4px;
  }
  button.out {
    background: var(--ls-tertiary-background-color);
    display: inline-table;
    line-height: 12px;
    margin: 0px 3px 0px 3px;
    padding: 2px;
  }
  div.out button.out {
      visibility: hidden;
  }
  div.out:hover button.out {
      visibility: visible;
  }
  div.out {
    font-size: 14px;
  }
  span.out {
    display: inline-table;
    font-size: 14px;
    padding: 2px;
    white-space: pre-wrap;
  }